<tr>
  <td class="align-middle"> <%= badge.name %> </td>
  <td class="align-middle"> <%= image_tag("#{badge.url_file}") %> </td>
  <td class="align-middle"> <%= badge.rule_name %> </td>
  <td class="align-middle"> <%= badge.rule_value %> </td>
</tr>