<footer id="footer">

  <p> <%= current_year %>,
    Dmitry Sushchinsky,
    <%= github_url('dmitryS1666','test-guru'){'Test Guru app'} %>
  </p>

  <p> <%= link_to 'Thinkentica online-school', 'http://thinknetica.com/', target: '_blank' %> </p>

</footer>