<div class="timer" data-end-time= "<%= session["passage_#{@test_passage.id}"] %>"
     data-passage-id = "<%= @test_passage.id %>" >

  <span class="minutes"></span>
  <strong> minutes </strong>
  <span class="seconds"></span>
  <strong> seconds </strong>

</div>