<tr class="text-center">
  <td><%= test.title %></td>
  <td><%= test_level(test.level) %></td>
  <td><%= test.questions.count %></td>

  <td><%= button_to t('.start'), start_test_path(test) %></td>

</tr>